@font-face {
  font-family: 'PT Sans', arial;
  src: url('../../fonts/ptsans.woff');
  src: url('../../fonts/ptsansbold.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  width: 320px;
  font-family: 'PT Sans', arial;
}

input {
  font-weight: bold;
}

textarea {
  margin: 0 10px;
  padding: 20px;
  margin-bottom: 45px;
  height: 120px;
  display: block;
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
}

.clear {
  clear: both;
}
