@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsans.woff');
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsansbold.woff');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

@media (min-width: 1200px) {
  .container {
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
  }
}
