@font-face {
  font-family: 'PT Sans', arial;
  src: url('../../fonts/ptsans.woff');
  src: url('../../fonts/ptsansbold.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  width: 320px;
  font-family: 'PT Sans', arial;
}

.clear {
  clear: both;
}
