.button {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.button--nav-closed {
  float: right;
  margin: 17.5px 20px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.button--nav-closed svg {
  fill: #81b3d2;
}

.button--nav-closed:hover svg {
  fill: #669ec0;
}

.button--nav-closed:active svg {
  fill: #5496bd;
}

.button--form {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.button--alert {
  width: 60%;
  font-size: 18px;
  margin: 0 auto;
}

.button--succes {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  border: 20px solid #f2f2f2;
}

@media (min-width: 768px) {

  .button {
    width:70%;
    margin: 0 auto;
  }

  .button--nav-closed {
    display: none;
  }

  .button--form {
    width: 50%;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {

  .button {
    width:40%;
    margin: 0 auto;
  }
}
