.button {
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 21px;
  border: none;
  padding: 15px;
}

.button--nav {
  float: right;
  height: 21px;
  width: 23px;
  margin: 17.5px 20px;
}
