.button {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.button--nav {
  float: right;
  height: 21px;
  width: 23px;
  margin: 17.5px 20px;
}

.button--form {
  padding: 15px 30px;
  margin: 40px auto;
}

.button--alert {
  font-size: 18px;
  margin: 0 45px;
}

.button--succes {
  font-size: 18px;
  margin: 0 -20px;
  border: 20px solid #f2f2f2;
}

@media (min-width: 768px) {

  .button {
    width:70%;
    margin: 5% auto;
  }

  .button--nav {
    display: none;
  }


}
