.call-to-action {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.call-to-action__title {
  font-weight: bold;
  font-size: 21px;
}

.call-to-action__text {
  font-size: 14px;
  line-height: 24px;
  color: grey;
  margin-bottom: 40px;
}

.call-to-action a {
  margin-bottom: 25px;
}
