.call-to-action {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.call-to-action__title {
  margin: 5% auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.call-to-action__text {
  margin: 10% auto;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.call-to-action--alert {
  display: flex;
  flex-direction: column;
}

.call-to-action__title--alert {
  font-size: 18px;
}

.call-to-action__text--alert {
  padding: 0 30px;
  margin-bottom: 25px;
}

.call-to-action--success {
  display: flex;
  flex-direction: column;
}

.call-to-action__title--success {
  font-size: 18px;
  line-height: 24px;
}

.call-to-action__text--success {
  padding: 0 30px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {

  .call-to-action {
    width: 100%;
  }

  .call-to-action__title {
    font-size: 30px;
    color: #000;
  }

  .call-to-action__text {
    margin: 5% 15%;
  }

  .call-to-action--alert {
    display: none;
  }

  .call-to-action--success {
    display: none;
  }
}
