.features-image img {
  display: block;
  width: 100%;
  height: 258px;
}

@media (min-width: 768px) {

  .features-image-wrapper {
    display: flex;
    width: 100%;
  }

  .features-image {
    width: 67%;
  }

  .features-image--replace {
    order: -1;
  }
}
