.features-item {
  margin: 20px;
  margin-left: 50px;
}

.features-item__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
}

.features-item__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
