.features {
  height: 210px;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.features__title {
  font-size: 21px;
  text-align: center;
  color: #ffffff;
}

.features__number {
  font-size: 21px;
  text-align: center;
  color: #ffffff;
}

.features__text {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.features:nth-of-child(3) {
  background-color: #eeeeee;
}
