.features-list {
  padding: 40px 0;
  padding-left: 70px;

  text-transform: uppercase;
}

@media (min-width: 768px) {

  .features-list {
    display: flex;
    padding: 0;
    padding-top: 150px;
    padding-bottom: 67px;
  }
}

@media (min-width: 1200px) {

  .features-list {
    padding-bottom: 85px;
  }
}
