.features-item {
  margin: 0;
  margin-left: 70px;
}

.features-item__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
}

.features-item__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.features-item__text--margin-bottom {
  margin-bottom: 0;
}

.features-item__title--home {

}

.features-item__title--gift {

}

.features-item__title--food {

}

@media (min-width: 768px) {

  .features-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0;
    margin-top: 50%;
    text-align: center;
  }

  .features-item__title {
    font-size: 21px;
    margin: 10% auto;
  }

  .features-item__text {
    width: 70%;
    margin: 5% auto;
  }

  .features-item:nth-child(2) {
    order: 2;
  }
}
