.features-image {
  height: 260px;
  background: url(../img/photo-city@1x.jpg) no-repeat;
  background-size: 100% 100%;
}

.features-image:last-child {
  background: url(../img/photo-1-mobile@1x.jpg) no-repeat;
  background-size: 100% 100%;
}
