.features {
  padding: 20px;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.features--background {
  background-color: #eeeeee;
}

.features {
  border-bottom: 1px solid #d6d6d6;
}

.features__title {
  margin: 20px auto 5px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

}

.features__title--color {
  color: #000;
}

.features__number {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.features__number--color {
  color: #333333;
}

.features__text {
  padding: 0 15px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.features__text--color {
  color: #333333;
}

.features__number::before {
   content: "-";
}

.features__number::after {
   content: "-";
}

.features.features--box {
  background-color: #eeeeee;
  padding: 10px;
  padding-bottom: 25px;
}

.features.features--box .features__title {
 color: #000000;
}

.features.features--box .features__number {
 color: grey;
}

.features.features--box .features__text {
  margin: 10px 30px;
  color: grey;
}
