.footer-item {
  margin: 0 auto;
  margin-bottom: 35px;

  font-size: 21px;
  font-weight: bold;
}

@media (min-width: 768px) {

  .footer-item {
    margin: 0;
  }
}

@media (min-width: 1200px) {

  .footer-item--photo {
    width: 20%;
  }
}
