.footer-copyright {
  .font-size(@f-size-14);
  .line-height(@l-height-26);
  .text-center();

  .text-transform();
}

.footer-copyright a {
  margin-left: 11px;
}

@media (min-width: 768px) {

  .footer-copyright {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {

  .footer-copyright {
    display: block;
    width: 20%;

    .text-right();
  }
}
