.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {

  .footer-copyright {
    display: flex;
    align-items: center;
  }

  .footer-copyright a {
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {

  .footer-copyright {
    display: block;
    width: 33.33%;
    margin: 0;
    text-align: right;
  }
}
