.footer {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  .line-height(@l-height-26);
  .text-center();
  .text-transform();
}

.footer--photo {
  padding-top: 130px;
}

@media (min-width: 768px) {

  .footer {
    display: flex;
    justify-content: space-between;

    padding: 36px 60px;

    .text-center();
  }

  .footer--photo {
    padding-top: 77px;
  }
}
