.footer {
  padding: 20px;
  padding-bottom: 30px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {

  .footer {
    display: flex;
    align-items: center;
    padding: 20px 60px;
  }

  .footer-social {
    flex-grow: 1;
  }

  .footer-copyright {
    display: flex;
  }
}
