.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  text-transform: uppercase;
}

.footer-copyright a {
  margin-left: 11px;
}

@media (min-width: 768px) {

  .footer-copyright {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {

  .footer-copyright {
    display: block;
    width: 20%;

    text-align: right;
  }
}
