.footer-social {
  .margin-center();
  margin-bottom: 30px;
}

.footer-social__link {
  display: inline-block;
  width: 47px;
  height: 47px;

  .line-height(@l-height-50);
  vertical-align: middle;

  .bg-color(@color-primary);

  &:hover {
    .bg-color(@button-hover-color);
  }

  &:active {
    .bg-color(@button-active-color);
  }
}

.footer-social__link svg {
  fill: white;
}

.footer-social__link:active svg {
  fill: #88b6d1;
}

.footer-social__link:not(:last-child) {
  margin-right: 2px;
}

@media (min-width: 768px) {

  .footer-social {
    margin: 0;
  }
}

@media (min-width: 1200px) {

  .footer-social {
    width: 33%;
  }
}
