.form-field {
  display: flex;
  padding: 0;
  line-height: 26px;
  justify-content: space-between;
  align-items: baseline;
}

.form-field__label  {
  margin: 0 5px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: grey;
}

.form-field__input {
  flex-grow: 1;
  margin: 0 5px;
  margin-bottom: 10px;
  padding: 15px;
  border: none;
  background-color: #f2f2f2;
}

.form-field--contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-field__label--contact {
  margin-left: 30px;

 }

.form-field__alert {
  margin-left: 30px;
  color: red;
  font-size: 14px;
}

.form-field--experience {
  display: inline-block;
}

.form-field__input--experience {
  margin: 20px;
  margin-left: 25px;
}

.form-field__label--experience {
  margin-left: 20px;
  font-size: 18px;
  text-transform: none;
  font-weight: bold;
  color: black;
}
