.form-field {
  display: flex;
  align-items: baseline;

  margin: 0 auto;

  line-height: 26px;
}

.form-field__label {
  margin-right: 10px;

  font-size: 14px;
  line-height: 26px;
  color: #333333;

  text-transform: uppercase;
}

.form-field__input {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  line-height: 26px;
  border: none;
  box-sizing: border-box;

  background-color: #f2f2f2;
}

.form-field--contact {
  flex-direction: column;
}

.form-field__label--contact {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
}

.form-field__input--contact {
  padding-left: 20px;
}

.form-field__alert {
  margin-left: 20px;
  margin-bottom: 10px;

  font-size: 14px;
  color: red;
}

.form-field__input--experience {
  display: none;
}

.form-field__input--visited {
  display: none;
}

.form-field__label--experience {
  width: 100%;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 50px;

  font-size: 18px;
  font-weight: bold;
  color: black;

  text-transform: none;
}

.form-field__label--visited {
  width: 100%;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 50px;

  font-size: 18px;
  font-weight: bold;
  color: black;

  text-transform: none;
}

.form-field--emotions {
  margin-bottom: 40px;
}

input {
  padding: 0;
  /* font-weight: bold; */
}

textarea {
  display: block;
  width: 100%;
  height: 120px;

  margin:0 auto;
  padding: 0;
  padding-top: 20px;
  padding-left: 20px;

  font-weight: bold;
  box-sizing: border-box;

  background-color: #f2f2f2;
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

@media (min-width: 768px) {

  .form-field {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  .form-field__label--experience {
    padding-left: 80px;
  }

  .form-field__label--visited {
    padding-left: 80px;
  }

  .form-field-visited-wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 80%;
    margin: 0 auto;
  }

  .form-field--visited {
    width: 40%;
  }

  .form-field--emotions {
    margin-bottom: 60px;
  }

  .form-field--visited:first-of-type {
    order: -2;
  }

  .form-field--visited:nth-of-type(3) {
    order: -1;
  }

  .form-field__alert {
    margin-left: auto;
    margin-bottom: -26px;

    order: -1;
  }

  textarea {
    height: 160px;
  }
}

@media (min-width: 1200px) {

  .form-field-contact-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    padding-bottom: 20px;
  }

  .form-field--contact {
    flex-direction: row;
    width: auto;
    margin-bottom: 0;
  }

  .form-field__input--contact {
    width: 317px;
  }

  .form-field__label--contact {
    margin: 0;
  }

  .form-field--contact:first-of-type {
    position: relative;
    margin-left: 0;
  }

  .form-field--contact:last-of-type {
    margin-right: 0;
  }

  .hidden-contact {
    display: none;
  }

  .form-field__alert {
    position: absolute;
    top: -27px;
    left: 90px;

    order: -1;
  }

  .form-field-visited-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .form-field--visited {
    width: 22%;
    margin: 0;
  }
  .form-field__label--visited {
    margin: 0;
  }
}
