.form-block__title {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {

  .form-block__title {
    font-size: 21px;
  }

  .form-block--name {
    width: 45%;
    order: 1;
  }

  .form-block--name .form-block__title {
    margin-bottom: 50px;
    text-align: left;
  }

  .form-block--contact {
    width: 100%;
    order: 2;
  }

  .form-block--contact .form-block__title {
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .form-block--experience {
    width: 45%;
    order: 0;
  }

  .form-block--experience .form-block__title {
    margin-bottom: 50px;
    text-align: left;
  }

  .form-block--visited {
    width: 100%;
    order: 3;
  }

  .form-block--visited .form-block__title {
    width: 50%;
  }

  .form-block--emotions {
    position: relative;
    width: 100%;
    order: 4;
  }

  .form-block--emotions .form-block__title {
    margin: 60px auto;
  }

  .form-block--emotions::after {
    content: "*ОБЯЗАТЕЛЬНЫЕ ПОЛЯ";
    position: absolute;
    right: 0;
    bottom: 64px;
    font-size: 14px;
    color: #333333;
  }
}
