.form-block {
  border-bottom: 1px solid lightgrey;
}

.form-block__title {
  line-height: 26px;
}

.form-block:last-child {
  display: flex;
  flex-direction: column;
}

.form-block--name {
  padding: 0 20px;
}
