.intro {
  position: relative;
  width: 100%;
  height: 390px;
  background-image:
  url(../img/text-sedona-index.svg),
  url(../img/bg-intro-triangle-mobile.svg),
  url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center, bottom, center;
  background-size: 90%, 101%, auto;
}

.intro--photo {
  height: 160px;
  background-image:
  url(../img/text-sedona.svg),
  url(../img/bg-intro-triangle-mobile.svg),
  url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center, bottom, 50% 100%;
  background-size: 90%, 101%, auto;
}

.intro--form {
  height: 160px;
  background-image:
  url(../img/text-sedona.svg),
  url(../img/bg-intro-triangle-mobile.svg),
  url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center, bottom, 50% 100%;
  background-size: 90%, 101%, auto;
}

@media (min-width: 768px) {

  .intro {
    position: relative;
    width: 100%;
    height: 520px;
    background:
      url(../img/text-sedona-index.svg) no-repeat 50%,
      url(../img/bg-intro-triangle-mobile.svg) no-repeat 50% 100%,
      url(../img/bg-intro-triangle-mobile.svg) no-repeat 50% 105%,
      url(../img/bg-back-mobile@1x.jpg) no-repeat;
    background-size: auto, 90%, 101%, 160%;

  }

  .intro--photo {
    height: 290px;
    background:
      url(../img/text-sedona.svg) no-repeat 50%,
      url(../img/bg-intro-triangle-mobile.svg) no-repeat 50% 100%,
      url(../img/bg-intro-triangle-mobile.svg) no-repeat 50% 105%,
      url(../img/bg-back-mobile@1x.jpg) no-repeat;
    background-size: auto, 90%, 101%, 100%;
  }

  .intro--form {
    height: 290px;
    background:
      url(../img/text-sedona.svg) no-repeat 50%,
      url(../img/bg-intro-triangle-mobile.svg) no-repeat 50% 100%,
      url(../img/bg-intro-triangle-mobile.svg) no-repeat 50% 105%,
      url(../img/bg-back-mobile@1x.jpg) no-repeat;
    background-size: auto, 90%, 101%, 100%;
  }
}

@media (min-width: 1200px) {

  .intro {
    position: relative;
    width: 100%;
    height: 520px;
    background:
      url(../img/text-sedona-index.svg) no-repeat 50%,
      url(../img/bg-intro-triangle-mobile.svg) no-repeat 50% 100%,
      url(../img/bg-intro-triangle-mobile.svg) no-repeat 50% 105%,
      url(../img/bg-back-mobile@1x.jpg) no-repeat;
    background-size: auto, 70%, 101%, 160%;
  }
}
