.intro-features {
  height: 250px;
  width: auto;
}

.intro-features__title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 20px 30px;
}

.intro-features__text {
  font-size: 14px;
  text-align: center;
  padding: 10px 30px;
}
