.intro {
  position: relative;
  width: 100%;
  height: 390px;
  background-image:
  url(../img/text-sedona-index.svg),
  url(../img/bg-intro-triangle-mobile.svg),
  url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center, bottom, center;
  background-size: 90%, 101%, auto;
}

.intro-features__title {
  font-size: 21px;
  text-transform: uppercase;
}

.intro-features__text {
  font-size: 14px;
  text-transform: uppercase;
  color: grey;
}
