.intro-features {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  line-height: 26px;
  text-align: center;
}

.intro-features__title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.intro-features__text {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}

.intro-features--photo .intro-features__text {
  width: 86%;
  line-height: 24px;
}

.intro-features__text--form {
  width: 90%;
  line-height: 24px;
}

@media (min-width: 768px) {

  .intro-features__title {
    font-size: 21px;
  }

  .intro-features--photo .intro-features__title {
    font-size: 30px;
  }

  .intro-features--photo .intro-features__text {
    margin: 0 auto;
    margin-bottom: 5%;
  }

  .intro-features__text--form {
    margin-bottom: 8%;
  }

  .intro-features__title.intro-features__title--form {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {

  .intro-features__title {
    width: 50%;
  }
}
