.intro-features {
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
  line-height: 26px;
  text-align: center;
}

.intro-features__title {
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.intro-features__text {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}

.intro-features__text--photo {
  width: 86%;
  line-height: 24px;
}

.intro-features__text--form {
  width: 90%;
  line-height: 24px;
}

.intro-features::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  height: 50px;
  background-image: url(../img/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (min-width: 768px) {

  .intro-features {
    padding: 50px 0;
  }

  .intro-features__title {
    width: 60%;
    font-size: 21px;
  }

  .intro-features__text {
    width: 100%;
  }

  .intro-features__title--photo {
    margin-top: 30px;
    font-size: 30px;
  }

  .intro-features__text--photo {
    width: 58%;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .intro-features__title--form {
    margin-top: 30px;
    font-size: 30px;
  }

  .intro-features__text--form {
    width: 58%;
    margin-bottom: 70px;
  }

  .intro-features--photo {
    padding: 70px 0;
  }

  .intro-features--photo .intro-features__text {
    width: 55%;
  }

  .intro-features::after {
  display: none;
  }
}

@media (min-width: 1200px) {

  .intro-features__title {
    width: 40%;
  }

  .intro-features__text--photo {
    width: 37%;
  }

  .intro-features--photo .intro-features__text {
    width: 37%;
  }
}
