.intro {
  position: relative;
  width: 100%;
  height: 390px;

  background-image:
    url(../img/text-sedona-index.svg),
    url(../img/bg-intro-triangle-mobile.svg),
    url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center, bottom, center;
  background-size: 280px auto, 105%, auto;
}

.intro--photo {
  height: 160px;
  background-image:
    url(../img/text-sedona.svg),
    url(../img/bg-intro-triangle-mobile.svg),
    url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center, bottom, bottom;
  background-size: 227px auto, 105%, auto;
}

.intro--form {
  height: 160px;
  background-image:
    url(../img/text-sedona.svg),
    url(../img/bg-intro-triangle-mobile.svg),
    url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center, bottom, bottom;
  background-size: 227px auto, 105%, auto;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

  .intro {
    position: relative;
    width: 100%;
    height: 390px;

    background-image:
      url(../img/text-sedona-index.svg),
      url(../img/bg-intro-triangle-mobile.svg),
      url(../img/bg-back-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, center;
    background-size: 280px auto, 105%, 100% 100%;
  }

  .intro--photo {
    height: 160px;
    background-image:
      url(../img/text-sedona.svg),
      url(../img/bg-intro-triangle-mobile.svg),
      url(../img/bg-back-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, bottom;
    background-size: 227px auto, 105%, auto;
  }

  .intro--form {
    height: 160px;
    background-image:
      url(../img/text-sedona.svg),
      url(../img/bg-intro-triangle-mobile.svg),
      url(../img/bg-back-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, bottom;
    background-size: 227px auto, 105%, auto;
  }
}

@media (min-width: 768px) {

  .intro {
    position: relative;
    width: 100%;
    height: 520px;

    background-image:
      url(../img/text-sedona-index.svg),
      url(../img/bg-intro-triangle-tablet.svg),
      url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, center;
    background-size: 460px auto, 105% auto, 100%;
  }

  .intro--photo {
    height: 290px;
    background-image:
      url(../img/text-sedona.svg),
      url(../img/bg-intro-triangle-tablet.svg),
      url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, bottom;
    background-size: 460px auto, 105% auto, 100%;
  }

  .intro--form {
    height: 290px;
    background-image:
      url(../img/text-sedona.svg),
      url(../img/bg-intro-triangle-tablet.svg),
      url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, bottom;
    background-size: 460px auto, 105% auto, 100%;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

    .intro {
      position: relative;
      width: 100%;
      height: 520px;

      background-image:
        url(../img/text-sedona-index.svg),
        url(../img/bg-intro-triangle-tablet.svg),
        url(../img/bg-back-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-position: center, bottom, center;
      background-size: 460px auto, 105% auto, 100%;
    }

    .intro--photo {
      height: 290px;
      background-image:
        url(../img/text-sedona.svg),
        url(../img/bg-intro-triangle-tablet.svg),
        url(../img/bg-back-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-position: center, bottom, bottom;
      background-size: 460px auto, 105% auto, 100%;
    }

    .intro--form {
      height: 290px;
      background-image:
        url(../img/text-sedona.svg),
        url(../img/bg-intro-triangle-tablet.svg),
        url(../img/bg-back-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-position: center, bottom, bottom;
      background-size: 460px auto, 105% auto, 100%;
    }
  }
}

@media (min-width: 1200px) {

  .intro {
    position: relative;
    width: 100%;
    height: 520px;

    background-image:
      url(../img/text-sedona-index.svg),
      url(../img/bg-intro-triangle-desktop.svg),
      url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, center;
    background-size: 460px auto, 105% auto, 100%;
  }

  .intro--photo {
    height: 290px;
    background-image:
      url(../img/text-sedona.svg),
      url(../img/bg-intro-triangle-desktop.svg),
      url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, bottom;
    background-size: 460px auto, 105% 20%, auto;
  }

  .intro--form {
    height: 290px;
    background-image:
      url(../img/text-sedona.svg),
      url(../img/bg-intro-triangle-desktop.svg),
      url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, bottom;
    background-size: 460px auto, 105% 20%, auto;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

    .intro {
      position: relative;
      width: 100%;
      height: 520px;

      background-image:
        url(../img/text-sedona-index.svg),
        url(../img/bg-intro-triangle-desktop.svg),
        url(../img/bg-back-desktop@2x.jpg);
      background-repeat: no-repeat;
      background-position: center, bottom, center;
      background-size: 460px auto, 105% auto, 100%;
    }

    .intro--photo {
      height: 290px;
      background-image:
        url(../img/text-sedona.svg),
        url(../img/bg-intro-triangle-desktop.svg),
        url(../img/bg-back-desktop@2x.jpg);
      background-repeat: no-repeat;
      background-position: center, bottom, bottom;
      background-size: 460px auto, 105% 20%, auto;
    }

    .intro--form {
      height: 290px;
      background-image:
        url(../img/text-sedona.svg),
        url(../img/bg-intro-triangle-desktop.svg),
        url(../img/bg-back-desktop@2x.jpg);
      background-repeat: no-repeat;
      background-position: center, bottom, bottom;
      background-size: 460px auto, 105% 20%, auto;
    }
  }
}
