.logo__img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -51px;
  z-index: 2;
}

.logo--copyright {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  vertical-align: middle;
}

@media (min-width: 768px) {

  .logo--copyright {
    position: static;
  }
}

@media (min-width: 1200px) {

  .logo::before {
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    top: -14%;
    left: 46%;

    border: 67px solid #81b3d2;
    border-top-style: none;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 10%;

    z-index: 1;
    transform: rotate(-49deg);
  }

  .logo::after {
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    top: -14%;
    right: 46%;

    border: 67px solid #81b3d2;
    border-top-style: none;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 10%;

    z-index: 1;
    transform: rotate(49deg);
  }
}
