.logo a {
  display: block;
  margin: 0;
  padding: 0;
}

.logo__img {
  position: absolute;
  top: 0;
  left: 50%;

  margin: 0;
  margin-left: -51px;

  z-index: 2;
}

.logo--copyright {
  vertical-align: middle;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: 1200px) {

  .logo__img {
    margin-left: -93px;

    z-index: 2;
  }
}
