.logo {

}

.logo__img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -51px;
  z-index: 1;
}

.logo--copyright {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 10px;
}
