ul {
  margin: 0;
  padding: 0;
}

.nav {
  position: absolute;
  display: block;
  top: -222px;
  width: 100%;

  list-style: none;
  .text-center();
}

.nav-item {
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.nav__link {
  display: block;
  padding: 7px 0;

  .font-size(@f-size-18);
  .font-weight();
  .line-height(@l-height-40);
  .text-color(@color-white);

  .bg-color(@color-primary);
  .text-transform();
  text-decoration: none;

  &:hover {
    .bg-color(@button-hover-color);
  }

  &:active {
    color: #94b9d2;
    .bg-color(@button-active-color);
  }
}

li:first-child {
  border-top: none;
}

li:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {

  .nav {
    position: static;
    display: flex;
    top: 0;
  }

  .nav-item {
    width: 20%;
    padding: 15px 0;

    border: none;
  }

  .nav-item:nth-child(2) {
    margin-right: 20%;
  }

  .nav__link {
    display: inline;
    padding: 0;

    .font-size(@f-size-14);
    .line-height(@l-height-26);
    .font-weight();
    .text-color(@color-black);

    .bg-color(@color-white);

    &:hover {
      .text-color(@button-hover-color);
      background-color: transparent;
  }

    &:active {
      color: #cacaca;
      background-color: transparent;
    }
  }

  .nav__link--active {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #dbd8d5;
    }
  }
}
