.photo-box-wrapper {
  margin: 0;
}

.photo-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto;
  padding: 20px 20px;

  font-size: 14px;
  line-height: 24px;

  box-sizing: border-box;
}

.photo-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: #e5e5e5 ;
}

.photo-box:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: #e5e5e5 ;
}

.photo-box img {
  display: block;
}

.photo-box__link {
  margin: 0;
  padding: 0;
}

.photo-box-description {
  align-self: flex-start;
}

.photo-box__title {
  margin: 0;
  margin-top: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  text-transform: uppercase;
}

.photo-box__author {
  margin: 0;
  margin-bottom: 17px;

  color: #333333 ;
}

.photo-box__like-number {
  position: relative;
  margin: 0;
  padding-left: 35px;

  font-weight: bold;
}

.photo-box__icon {
  position: absolute;
  left: 0;
  top: 0;

  width: 24px;
  height: 22px;
}

@media (min-width: 768px) {

  .photo-box-wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 768px;
    margin: 0 auto;
    padding: 0 60px;

    box-sizing: border-box;
  }

  .photo-box {
    position: static;
    width: 100%;
    padding: 0;

    background-color: #f2f2f2 ;
  }

  .photo-box::before,
  .photo-box:last-child::after {
    display: none;
  }

  .photo-box__link img {
    width: 100%;
  }

  .photo-box-description {
    display: flex;

    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 20px;

    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
  }

  .photo-box-name {
    flex-grow: 1;
  }

  .photo-box__title {
    margin: 0;

    font-size: 14px;
    line-height: 24px;
    font-weight: bold;

    text-transform: uppercase;
  }

  .photo-box__author {
    margin: 0;
    color: #333333 ;
  }

  .photo-box__like-number {
    font-weight: bold;
    text-align: right;
  }

  .photo-box--half-size {
    width: 50%;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {

  .photo-box-wrapper {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .photo-box:not(:first-child) {
    width: 33.333333%;
  }

  .photo-box {
    position: relative;
  }

  .photo-box-name {
    color: #fff;
  }

  .photo-box__author {
    color: #fff;
 }

  .photo-box__like-number {
    color: #fff;
  }

  .photo-box__icon path {
    fill: #fff;
  }

  .photo-box-description {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
  }
}
