.photo-box {
  padding: 20px;
  padding-bottom: 0;
  border-bottom: 1px solid grey;
}

.photo-box img {

}

h3.photo-box__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px auto;
}

p.photo-box__author {
  margin: 10px auto;
  color: grey;
}

.photo-box__like-number {
  font-weight: bold;
}
