.photo-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid #e5e5e5;
}

.photo-box__img {
  width: 100%;
}

.photo-box__title {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo-box__author {
  margin: 0;
  color: #333333;
}

.photo-box__like-number {
  margin-left: 25px;
  margin-bottom: 0;
  font-weight: bold;
}

.photo-box:first-of-type {
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {

  .photo-box-wrapper {
    display: flex;
    width: 100%;
    margin: 0 7.5%;
  }

  .photo-box:nth-child(3) {
    width: 100%;
    margin: 0 7.5%;
    padding: 0;
    background-color: #f2f2f2;
  }

  .photo-box:nth-child(5) {
    width: 42%;
    margin: 0 7.5%;
  }

  .photo-box {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f2f2f2;
  }

  .photo-box__title {
    margin-left: 4%;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .photo-box__author {
    margin-left: 4%;
    color: #333333;
  }

  .photo-box__like-number {
    position: relative;
    bottom: 10%;
    margin: 0;
    margin-right: 7%;
    font-weight: bold;
    text-align: right;
  }
}
