.video-features {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;

  .margin-center();
}

.video-features img {
  display: block;
}

.video {
  .margin-center();
}

.video-features__wrapper {
  position: absolute;
  left: 20px;
  bottom: -66px;
}

.video-features__timeline {
  width: 280px;
  height: 45px;
  .margin-center();

  background-image: url("../img/video-timeline-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.video-features__control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 280px;
  height: 66px;
  .margin-center();
  padding-left: 25px;
  padding-right: 23px;

  background-image: url("../img/video-control.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  .border-box()
}

.video-replay {
  width: 20px;
  height: 20px;

  fill: #5c6870;
  z-index: 1;

  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #c1c1c1;
  }
}

.video-subtitle {
  width: 32px;
  height: 20px;

  margin-left: auto;
  margin-right: 30px;

  fill: #5c6870;
  z-index: 1;

  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #c1c1c1;
  }
}

.video-full-screen {
  width: 20px;
  height: 20px;

  fill: #5c6870;
  z-index: 1;

  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #c1c1c1;
  }
}

@media (min-width: 768px) {

  .video-features {
    width: 648px;
    .border-box();
  }

  .video-features img {
    display: block;
    width: 100%;
    height: 499px;
  }

  .video-features__wrapper {
    left: 0;
    bottom: 0;
  }

  .video-features__control {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 93px;

    padding-left: 35px;
    padding-right: 40px;

    background-image: none;
  }

  .video-features__timeline {
    width: 648px;
    height: 93px;

    background-image: url("../img/video-timeline-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }

  .video-replay {
    width: 20px;
    height: 20px;
    fill: #fff;
  }

  .video-subtitle {
    width: 32px;
    height: 20px;
    fill: #fff;
  }

  .video-full-screen {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}

@media (min-width: 1200px) {

  .video-features {
    width: 800px;
    padding: 0;
  }

  .video-features__timeline {
    left: 0;
    width: 800px;
    height: 93px;

    background-image: url("../img/video-timeline-tablet.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}
